.wrapp-p {
  max-width: 100%;
  height: 1000px; }

#wrapp-s {
  width: 1400px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

h2 {
  font-size: 60px; }

.header {
  position: relative;
  height: 1000px; }

.fond-1 {
  background-image: url("../img/1.jpg");
  background-size: cover; }

.QUOTES {
  float: left;
  padding: 27px 19px;
  background-color: #000000;
  margin-left: 100px;
  margin-top: 50px; }

.QUOTES a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 10px; }

.menu {
  float: right;
  color: white;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  margin-right: 100px;
  margin-top: 57px; }

.menu a {
  color: white;
  text-decoration: none;
  font-size: 15px; }

/*-----------Texto-----------*/
.title-smile {
  position: absolute;
  bottom: 300px;
  right: 200px; }

.title-smile p {
  color: white;
  font-size: 220px;
  letter-spacing: 15px;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.text-smile {
  position: absolute;
  bottom: 260px;
  right: 300px; }

.text-smile p {
  color: white;
  font-size: 64px;
  margin: 0; }

.puntos-header {
  position: absolute;
  bottom: 0;
  left: 550px; }

/*-----------Contenido 1-----------*/
.content-1 {
  padding-bottom: 95px; }

.title-cont-1-span {
  font-weight: bold; }

.title-cont-1 {
  text-align: center;
  font-weight: 100; }

.content-1 p {
  margin: 0 auto;
  text-align: center;
  width: 950px;
  font-size: 20px; }

.contet-1-hr {
  width: 80px;
  border: 2px solid #000000;
  margin-top: 47px;
  margin-bottom: 63px; }

/*-----------Contenido 2-----------*/
.content-2 {
  padding-bottom: 95px;
  margin: 0 auto; }

.content-2-texto {
  background-color: #ffeae2;
  float: left;
  width: 947px;
  height: 650px; }

.cont-2-p-1 {
  font-size: 36px;
  font-weight: bold;
  width: 557px;
  margin-left: 250px;
  margin-top: 136px; }

.cont-2-p-2 {
  font-weight: 100;
  margin: 0px;
  font-size: 36px;
  margin-left: 250px;
  padding-top: 64px; }

.content-2-img {
  background-image: url("../img/2.jpg");
  background-size: cover;
  float: left;
  width: 947px;
  height: 650px; }

/*-----------Contenido 3-----------*/
.content-colum-1 {
  width: 700px;
  float: left; }

.content-colum-2 {
  width: 700px;
  float: left; }

.content-c-2 {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 50px;
  padding-bottom: 56px; }

.content-c-3 {
  border-bottom: 1px solid #000000;
  padding-top: 50px;
  padding-bottom: 56px; }

.content-c-4 {
  margin-top: 168px;
  margin-bottom: 4px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  padding-top: 50px;
  padding-bottom: 57px; }

.content-c-5 {
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 50px;
  padding-bottom: 69px; }

.content-3 h4 {
  width: 548px;
  margin-left: 50px; }

.content-3 p {
  width: 548px;
  margin-left: 50px; }

.boton {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 143px; }

.boton a {
  border: 2px solid #000000;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  padding: 17px 28px;
  border-radius: 5px;
  color: black; }

/*-----------Contenido 4-----------*/
.fond-2 {
  background-image: url("../img/3.jpg");
  background-size: cover; }

.cont-5-p-1 {
  padding-top: 205px;
  margin: 0 auto;
  font-size: 60px;
  color: white;
  width: 819px;
  text-align: center; }

.cont-5-p-2 {
  padding-top: 60px;
  padding-bottom: 166px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 0; }

/*-----------Contenido 5-----------*/
.fond-3 {
  background-color: #f3f4f5;
  height: 1200px; }

/*-----------Contenido 6-----------*/
.cont-6-h2 h2 {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px; }

.cont-6-colum1 {
  width: 650px;
  float: left; }

.cont-6-colum2 {
  width: 740px;
  float: right;
  padding-top: 266px; }

.cont-6-img1 {
  background-image: url("../img/4.jpg");
  background-size: cover;
  width: 563px;
  height: 754px;
  position: relative; }

.cont-6-img2 {
  background-image: url("../img/5.jpg");
  background-size: cover;
  width: 740px;
  height: 366px; }

.cont-6-img3 {
  background-image: url("../img/6.jpg");
  background-size: cover;
  width: 329px;
  height: 338px;
  float: left;
  margin-right: 82px;
  margin-top: 55px; }

.cont-6-img4 {
  background-image: url("../img/7.jpg");
  background-size: cover;
  width: 329px;
  height: 338px;
  float: left;
  margin-top: 55px; }

.cont-6-p1 {
  font-size: 80px;
  text-align: center;
  color: white;
  padding-top: 203px;
  margin-top: 0;
  text-transform: uppercase; }

.cont-6-p2 {
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 22px;
  left: 38px;
  text-transform: uppercase; }

.cont-6-p3 img {
  width: 31px;
  height: 22px; }

.cont-6-p3 {
  font-size: 15px;
  color: white;
  position: absolute;
  bottom: 25px;
  right: 59px;
  text-transform: uppercase; }

.cont-6-p4 {
  font-size: 36px;
  margin-left: 38px;
  padding-top: 89px;
  margin-top: 0; }

.cont-6-p5 {
  font-size: 20px;
  margin-left: 38px; }

.cont-6-p6 {
  font-size: 30px;
  text-align: center; }

.cont-6-p7 {
  font-size: 37px;
  color: white;
  text-align: center;
  padding-top: 120px;
  font-weight: bold;
  text-transform: uppercase; }

.cont-2-img-p {
  margin-left: 240px;
  margin-top: 58px; }

/*-----------Contenido 7-----------*/
.content-7 li {
  list-style: none; }

.c-7-li-1 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 50px; }

.c-7-li-2 {
  padding-bottom: 50px; }

.c-7-li-3 {
  padding-bottom: 30px; }

.c-7-li-4 input {
  width: 250px;
  background-color: #f3f4f5;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  border: none;
  color: #c9c7c2; }

.c-7-li-4 {
  padding-bottom: 20px; }

.list-1 {
  float: left;
  padding-top: 124px;
  padding-bottom: 100px;
  margin-right: 170px; }

.list-2 {
  float: left;
  padding-top: 124px;
  padding-bottom: 100px;
  margin-right: 170px; }

.list-3 {
  float: left;
  padding-top: 124px;
  padding-bottom: 100px;
  margin-right: 180px; }

.list-4 {
  float: left;
  padding-top: 124px;
  padding-bottom: 100px;
  margin-right: 0; }

.list-1 li {
  line-height: 25px; }

.list-2 li {
  line-height: 25px; }

.list-3 li {
  line-height: 25px; }

.list-4 li {
  line-height: 25px; }

.boton-f a {
  border: 2px solid #000000;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
  color: black;
  border-radius: 5px; }

/*-----------Footer-----------*/
.fond-4 {
  background-color: #f3f4f5; }

.copy {
  float: left;
  padding-top: 30px;
  padding-bottom: 35px; }

.red {
  float: right;
  padding-top: 30px;
  padding-bottom: 35px; }

.red img + img {
  padding-left: 33px; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }


h1 {
  font-size: 2em;
  margin: 0.67em 0; }


hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }


pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }


a {
  background-color: transparent; }


abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }


b,
strong {
  font-weight: bolder; }


code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }


small {
  font-size: 80%; }


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }


img {
  border-style: none; }


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }


button,
input {
  /* 1 */
  overflow: visible; }


button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }


fieldset {
  padding: 0.35em 0.75em 0.625em; }


legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }


progress {
  vertical-align: baseline; }


textarea {
  overflow: auto; }


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }


[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }